 .container {
 	margin: 60px auto;
 	position: center;
 	align-items: center;
 	width: 975px;
 }

 .container h2 {
 	align-items: center;
 	text-align: center;
 	margin-top: 100px;
 }

 @media (max-width: 960px) {
	.container { 
		width: 700px;

	 }
 }

 @media (max-width: 720px) {
	.container {
		width: 500px;

	 }
 }@media (max-width: 540px) {
	.container { 
		width: 300px;


	 }
 }

